/* Stylesheet for AboutMe V3 */
body {
    width: 70%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vh;  
}

.coloredText{
    color: #3E3175;
}

header {
    background-color: #C2B5EC;
    border-bottom: 2px solid black;
    height: 15vh;   
}

header h1 {
    box-sizing: border-box;
    width: 65.5%;
    line-height: 15vh;
    padding-left: 2%;
    margin: 0;
    font-size: 4em;
    font-family: Blippo, Impact, fantasy;
}

#socialLinks {
    box-sizing: border-box;
    width: 20%;
    position: absolute;
    left: 70%;
    top: 2vh; 
    padding-top: 0.2vh;
}

#socialLinks p {
    position: relative;
    top: 10px;
    left: 10px;
    margin: 2px;
    font-size: 1.2em;
}

nav {
  width: 75%;
  margin: 4vh auto;
}

ul {
  height: 7vh; 
  list-style: none;
  font-size: 1.5em;
}

nav li {
  width:15%;
  float: left;
  padding: 5px;
  margin: 0 10px;
  line-height: 5vh;
  background-color: #093870;
  color: white;
}

nav a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
}

nav li:hover {
  background-color: #825D96;
}

section {
    margin-top: 2vh;
    background-color: #EFF2F5;
    overflow: auto;
    clear: both;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 2%;
    border-bottom: 2px solid black;
}

section p {
    margin: 5px;
    font-size: 1.8em;
}

section>p{
  padding: 0 2%;
  text-align: justify;
}

table {
    margin-left: 20px;
    margin-right: 0;
}

td {
    height: 10vh;
    padding: 10px; 
}
.col1 {
  width: 20%;
  font-size: 1.4em;
  font-weight: bold;
  border-right: 2px solid black;
}

footer {
    margin: 2%;
    font-size: 2em;
    text-align: center;
}