body {
  background-color: #4abdac;
  color: #ffffff;
  font-family: Georgia, serif;
}
header {
  background-color: #40e0d0;
  height: 75px;
  margin-top: -17px;
  margin-left: -5px;
  margin-right: -5px;
}

header:hover {
  border: 2px #d40f72 solid;
}

header h2 {
  text-align: right;
  line-height: 70px;
  padding-height: 30px;
}

header h1 {
  margin-top: -88px;
}

h1 {
  padding: 15px;
}
#navigation {
  height: 30px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#navigation li {
  float: left;
  margin-right: 30px;
  list-style-type: none;
}

#navigation li:hover {
  border: 1px #d40f72 solid;
}
#content {
  background-color: #dfdce3;
  width: 60%;
  margin: 0 auto;
}
div {
  background-color: #d40f72;
  width: 250px;
  height: 150px;
  padding: 10px;
  margin: 20px;
}

div:hover {
  color: #d40f72;
  background-color: #dfdce3;
}

#topRight {
  float: right;
  margin-top: 0px;
}

#bottomRight {
  float: right;
  margin-top: 0px;
}
